.users-title {
  margin-top: 50px;
}

.users-container {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.user-card {
  width: 250px;
  margin: 20px;
}

.user-img {
  width: 250px;
}

a:visited {
  color: #000000;
}

a:hover {
  color: #0d75f8;
}
