.nav-text {
  color: #0d75f8;
}

.nav-links,
.links,
.navbar-link {
  margin: 0 10px 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
}

h2 {
  margin-left: 10px;
  color: #0d75f8;
}

button {
  margin-right: 30px;
}

a:visited {
  color: #000000;
}

a:hover {
  color: #0d75f8;
}

.nav {
  background-color: #ffffff;
  color: #000000;
  top: 0;
  padding: 5px 0 5px 0;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.nav-links {
  margin-right: 10px;
}

@media screen and (max-width: 650px) {
  .nav {
    flex-direction: column;
  }

  .nav-links,
  .links,
  .navbar-link {
    margin: 0 10px 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
    font-size: 11px;
  }
}
