.products-container {
  margin: 0 auto;
  max-width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.product-card {
  width: 250px;
  margin: 20px;
  border: 1px solid black;
}

.product-img {
  width: 250px;
}

a:visited {
  color: #000000;
}

a:hover {
  color: #0d75f8;
}

.card-font {
  font-size: 12px;
}
