.details-img {
  margin-top: 50px;
}

.favorites-btn {
  height: 40px;
  width: 165px;
  color: #ffffff;
  background-color: #0d75f8;
  margin: 20px auto;
}

.review-details {
  border: 1px solid black;
  max-width: 70%;
  margin: 5px auto;
  background-color: rgb(243, 239, 239);
}

.details-info {
  max-width: 50%;
  margin: 0 auto;
}

.reviews {
  margin-bottom: 45px;
  max-width: 80%;
  margin: 0 auto;
}

.review-user {
  font-size: 11px;
  color: #0d75f8;
}

.update-btn {
  height: 30px;
  width: 115px;
  color: #ffffff;
  background-color: #0d75f8;
  margin: 0 10px;
}

@media screen and (max-width: 650px) {
  .details-img img {
    width: 300px;
    height: 300px;
  }

  .review-details {
    border: 1px solid black;
    max-width: 95%;
    margin: 10px auto;
    background-color: rgb(243, 239, 239);
  }
}
