.user-product-container {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.user-product-card {
  width: 250px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.edit-icon {
  margin-top: 30px;
}

.card-description {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 12px;
}

.user-product-header h3 {
  margin: 20px 0 20px 0;
}

.profile-image {
  margin-top: 50px;
  border: 1px solid black;
}
