.signup-form {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 50px;
  padding-top: 25px;
  width: 50%;
  background-color: rgb(224, 223, 223);
}

.signup-title {
  margin-top: 50px;
}
